
<div id="logo" class="container-center">
  <img src="../../../assets/images/logo-wallefyy.svg">
</div>
<div class="white-text">
  Viva plenamente  com Wallefy
</div>
<div class="white-text-sub">
  FAZER LOGIN
</div>
<div class="container-center">
  <div class="row ">
    <div class="col-md-12">
      <mat-form-field appearance="fill" class="total">
        <mat-label>Usuário</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field appearance="fill" class="total">
        <mat-label>Senha</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <button mat-raised-button color="primary" class="full-width">Fazer Login</button>
    </div>
    <div class="col-md-12">
      <a href="register">Cadastre</a>
    </div>
  </div>

</div>

