.p-15 {
  padding: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.p-0 {
  padding: 0px;
}

.mtb-7-5 {
  margin: 7.5px 0px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
