.progress-bar {
  position: relative;
  height: 6px;
  width: 100%;
  background: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 15px;
}

.progress-bar__filler {
  position: relative;
  display: block;
  transition: all ease 0.5s;
  background-color: #d3f4f8;
  height: 100%;
  border-radius: 8px;
}

// colors
@each $color, $weights in $theme_colors {
  @each $weight, $value in $weights {
    .progress-bar__filler--#{$weight}-#{$color} {
      background-color: $value;
    }
  }
}

.progress-param {
  display: flex;
  justify-content: space-between;

  p,
  span {
    font-size: 14px;
  }

  p {
    @extend %text--nowrap;
    @include text-style(soft, 500);
    padding: 0px;
    margin-bottom: 4px;
    margin-right: 10px;
  }

  span {
    @include text-style(soft, 500);
    padding: 0px;
    margin-bottom: 4px;
    text-align: right;
  }
}

.progress-circle__indicator {
  height: 60px;
  width: 60px;
  display: block;
}

.van-progress__info {
  h4 {
    @extend %text--nowrap;
    @include text-style(soft, 600);
    margin: 0px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  p {
    @extend %text--nowrap;
    @include text-style(strong, 600);
    margin: 0px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  span {
    @extend %text--nowrap;
    @include text-style(light, 500);
    margin: 0px;
    font-size: 14px;
  }
}

.h-stepper {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}

.h-stepper__item {
  position: relative;
  flex: 1;
  width: 100%;
  height: 10px;
  background: #f1f1f1;
  margin: 5px 0px;

  &::before {
    content: '';
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 5px solid #999999;
    margin-top: -5px;
    z-index: 1;
  }

  .h-stepper__item-bar {
    position: absolute;
    height: 100%;
    min-width: 15px;
    // margin-left: 15px;
    background: #d3f4f8;
    border-radius: 10px;

    &:after {
      content: '';
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background: #ed1c23;
      position: absolute;
      right: 0;
      z-index: 1;
    }
  }

  &:last-child {
    flex: 0;
    transform: translate(-20px);
    margin-left: 20px;
  }
}

.h-stepper__item--colored {
  &::before {
    border: 5px solid #00bcd4;
  }
}

.h-stepper__item--complete {
  .h-stepper__item-bar {
    border-radius: 0px;

    &::after {
      display: none;
    }
  }
}

.h-stepper__item--nobg {
  .h-stepper__item-bar {
    background: #f1f1f1 !important;
  }
}

.v-stepper__step {
  display: flex;
  width: 100%;
}

.v-stepper__indicator {
  position: relative;
  margin: 0px 15px;
}

.v-stepper__indicator-bar,
.v-stepper__indicator-filler {
  display: block;
  width: 10px;
  height: 100%;
}

.v-stepper__indicator-bar {
  background-color: #f1f1f1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.v-stepper__indicator-filler {
  position: relative;
  background-color: #d3f4f8;
  height: 0%;
  min-height: 14px;
  border-radius: 10px;

  &:after {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: #ed1c23;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
}

.v-stepper__indicator-circle {
  top: -1px;
  left: -5px;
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 5.5px solid #999999;
  z-index: 1;
}

.v-stepper__content {
  flex: 1;
}

.v-stepper__step--passed {
  .v-stepper__indicator-circle {
    border: 5.5px solid map-get(map-get($theme_colors, blue), strong);
  }
}

.v-stepper__step--complete {
  .v-stepper__indicator-filler::after {
    display: none;
  }
}

.v-stepper__step--away {
  .v-stepper__indicator-filler {
    background-color: #f1f1f1;

    &::after {
      display: none;
    }
  }
}

.v-stepper__step--last {
  .v-stepper__indicator-bar,
  .v-stepper__indicator-filler {
    height: 14px !important;
  }
}
